:root {
  --wwwudemycomprimrose: rgba(236, 235, 152, 1);
  --wwwudemycomshark: rgba(45, 47, 49, 1);
  --wwwudemycomelectric-violet: rgba(164, 53, 240, 1);
  --wwwudemycomnero: rgba(255, 255, 255, 1);
  --wwwudemycomblack: rgba(0, 0, 0, 1);
  --wwwudemycomathens-gray: rgba(228, 232, 235, 1);
  --wwwudemycomnevada: rgba(106, 111, 115, 1);
  --wwwudemycompurple-heart: rgba(86, 36, 208, 1);
  --wwwudemycomnero-02: rgba(255, 255, 255, 0);
  --wwwudemycomiron: rgba(209, 215, 220, 1);
  --wwwudemycomdeep-bronze: rgba(77, 49, 5, 1);
  --wwwudemycompumpkin-skin: rgba(180, 105, 14, 1);
  --wwwudemycombronze-olive: rgba(61, 60, 10, 1);
  --wwwudemycomcape-cod: rgba(62, 65, 67, 1);
  --wwwudemycommountain-meadow: rgba(25, 163, 140, 1);
  --wwwudemycomthunder: rgba(30, 27, 29, 1);
  --wwwudemycomsilver: rgba(187, 187, 187, 1);
  --wwwudemycomecstasy: rgba(245, 128, 37, 1);
  --wwwudemycomcod-gray: rgba(16, 14, 13, 1);
  --wwwudemycommelrose: rgba(192, 196, 252, 1);
  --www-udemy-com-roboto-bold-16-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-bold-16-font-weight: 700;
  --www-udemy-com-roboto-bold-16-font-size: 16px;
  --www-udemy-com-roboto-bold-16-letter-spacing: 0px;
  --www-udemy-com-roboto-bold-16-line-height: 16px;
  --www-udemy-com-roboto-bold-16-font-style: normal;
  --www-udemy-com-roboto-regular-15-88-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-15-88-font-weight: 400;
  --www-udemy-com-roboto-regular-15-88-font-size: 15.875px;
  --www-udemy-com-roboto-regular-15-88-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-15-88-line-height: 22.399999618530273px;
  --www-udemy-com-roboto-regular-15-88-font-style: normal;
  --www-udemy-com-roboto-bold-19-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-bold-19-font-weight: 700;
  --www-udemy-com-roboto-bold-19-font-size: 19px;
  --www-udemy-com-roboto-bold-19-letter-spacing: 0px;
  --www-udemy-com-roboto-bold-19-line-height: 26.600000381469727px;
  --www-udemy-com-roboto-bold-19-font-style: normal;
  --www-udemy-com-roboto-bold-14-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-bold-14-font-weight: 700;
  --www-udemy-com-roboto-bold-14-font-size: 14px;
  --www-udemy-com-roboto-bold-14-letter-spacing: 0px;
  --www-udemy-com-roboto-bold-14-line-height: 19.600000381469727px;
  --www-udemy-com-roboto-bold-14-font-style: normal;
  --www-udemy-com-roboto-regular-14-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-14-font-weight: 400;
  --www-udemy-com-roboto-regular-14-font-size: 14px;
  --www-udemy-com-roboto-regular-14-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-14-line-height: 16.799999237060547px;
  --www-udemy-com-roboto-regular-14-font-style: normal;
  --www-udemy-com-roboto-regular-13-89-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-13-89-font-weight: 400;
  --www-udemy-com-roboto-regular-13-89-font-size: 13.890625px;
  --www-udemy-com-roboto-regular-13-89-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-13-89-line-height: 16.799999237060547px;
  --www-udemy-com-roboto-regular-13-89-font-style: normal;
  --www-udemy-com-roboto-regular-16-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-16-font-weight: 400;
  --www-udemy-com-roboto-regular-16-font-size: 16px;
  --www-udemy-com-roboto-regular-16-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-16-line-height: 22.399999618530273px;
  --www-udemy-com-roboto-regular-16-font-style: normal;
  --www-udemy-com-roboto-regular-19-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-19-font-weight: 400;
  --www-udemy-com-roboto-regular-19-font-size: 19px;
  --www-udemy-com-roboto-regular-19-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-19-line-height: 26.600000381469727px;
  --www-udemy-com-roboto-regular-19-font-style: normal;
  --www-udemy-com-roboto-regular-12-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-12-font-weight: 400;
  --www-udemy-com-roboto-regular-12-font-size: 12px;
  --www-udemy-com-roboto-regular-12-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-12-line-height: 16.799999237060547px;
  --www-udemy-com-roboto-regular-12-font-style: normal;
  --www-udemy-com-roboto-regular-11-63-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-11-63-font-weight: 400;
  --www-udemy-com-roboto-regular-11-63-font-size: 11.625px;
  --www-udemy-com-roboto-regular-11-63-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-11-63-line-height: 16.799999237060547px;
  --www-udemy-com-roboto-regular-11-63-font-style: normal;
  --www-udemy-com-roboto-regular-11-44-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-11-44-font-weight: 400;
  --www-udemy-com-roboto-regular-11-44-font-size: 11.4375px;
  --www-udemy-com-roboto-regular-11-44-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-11-44-line-height: 16.799999237060547px;
  --www-udemy-com-roboto-regular-11-44-font-style: normal;
  --www-udemy-com-roboto-regular-11-81-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-11-81-font-weight: 400;
  --www-udemy-com-roboto-regular-11-81-font-size: 11.8125px;
  --www-udemy-com-roboto-regular-11-81-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-11-81-line-height: 16.799999237060547px;
  --www-udemy-com-roboto-regular-11-81-font-style: normal;
  --www-udemy-com-roboto-bold-12-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-bold-12-font-weight: 700;
  --www-udemy-com-roboto-bold-12-font-size: 12px;
  --www-udemy-com-roboto-bold-12-letter-spacing: 0.20000000298023224px;
  --www-udemy-com-roboto-bold-12-line-height: 14.399999618530273px;
  --www-udemy-com-roboto-bold-12-font-style: normal;
  --www-udemy-com-roboto-regular-11-06-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-11-06-font-weight: 400;
  --www-udemy-com-roboto-regular-11-06-font-size: 11.0625px;
  --www-udemy-com-roboto-regular-11-06-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-11-06-line-height: 16.799999237060547px;
  --www-udemy-com-roboto-regular-11-06-font-style: normal;
  --www-udemy-com-roboto-regular-18-85-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-18-85-font-weight: 400;
  --www-udemy-com-roboto-regular-18-85-font-size: 18.8515625px;
  --www-udemy-com-roboto-regular-18-85-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-18-85-line-height: 26.600000381469727px;
  --www-udemy-com-roboto-regular-18-85-font-style: normal;
  --www-udemy-com-roboto-regular-13-78-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-13-78-font-weight: 400;
  --www-udemy-com-roboto-regular-13-78-font-size: 13.78125px;
  --www-udemy-com-roboto-regular-13-78-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-13-78-line-height: 19.600000381469727px;
  --www-udemy-com-roboto-regular-13-78-font-style: normal;
  --www-udemy-com-roboto-bold-13-89-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-bold-13-89-font-weight: 700;
  --www-udemy-com-roboto-bold-13-89-font-size: 13.890625px;
  --www-udemy-com-roboto-bold-13-89-letter-spacing: 0px;
  --www-udemy-com-roboto-bold-13-89-line-height: 19.600000381469727px;
  --www-udemy-com-roboto-bold-13-89-font-style: normal;
  --www-udemy-com-roboto-bold-32-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-bold-32-font-weight: 700;
  --www-udemy-com-roboto-bold-32-font-size: 32px;
  --www-udemy-com-roboto-bold-32-letter-spacing: 0px;
  --www-udemy-com-roboto-bold-32-line-height: 38.400001525878906px;
  --www-udemy-com-roboto-bold-32-font-style: normal;
  --www-udemy-com-roboto-bold-24-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-bold-24-font-weight: 700;
  --www-udemy-com-roboto-bold-24-font-size: 24px;
  --www-udemy-com-roboto-bold-24-letter-spacing: 0px;
  --www-udemy-com-roboto-bold-24-line-height: 33.599998474121094px;
  --www-udemy-com-roboto-bold-24-font-style: normal;
  --www-udemy-com-roboto-regular-13-45-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-13-45-font-weight: 400;
  --www-udemy-com-roboto-regular-13-45-font-size: 13.453125px;
  --www-udemy-com-roboto-regular-13-45-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-13-45-line-height: 19.600000381469727px;
  --www-udemy-com-roboto-regular-13-45-font-style: normal;
  --www-udemy-com-roboto-bold-15-5-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-bold-15-5-font-weight: 700;
  --www-udemy-com-roboto-bold-15-5-font-size: 15.5px;
  --www-udemy-com-roboto-bold-15-5-letter-spacing: 0px;
  --www-udemy-com-roboto-bold-15-5-line-height: 16px;
  --www-udemy-com-roboto-bold-15-5-font-style: normal;
  --www-udemy-com-roboto-regular-11-25-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-11-25-font-weight: 400;
  --www-udemy-com-roboto-regular-11-25-font-size: 11.25px;
  --www-udemy-com-roboto-regular-11-25-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-11-25-line-height: 16.799999237060547px;
  --www-udemy-com-roboto-regular-11-25-font-style: normal;
  --www-udemy-com-roboto-bold-40-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-bold-40-font-weight: 700;
  --www-udemy-com-roboto-bold-40-font-size: 40px;
  --www-udemy-com-roboto-bold-40-letter-spacing: 0px;
  --www-udemy-com-roboto-bold-40-line-height: 48px;
  --www-udemy-com-roboto-bold-40-font-style: normal;
  --www-udemy-com-roboto-regular-13-56-font-family: "Roboto", Helvetica;
  --www-udemy-com-roboto-regular-13-56-font-weight: 400;
  --www-udemy-com-roboto-regular-13-56-font-size: 13.5625px;
  --www-udemy-com-roboto-regular-13-56-letter-spacing: 0px;
  --www-udemy-com-roboto-regular-13-56-line-height: 19.600000381469727px;
  --www-udemy-com-roboto-regular-13-56-font-style: normal;
  --www-udemy-com-inter-bold-48-font-family: "Inter", Helvetica;
  --www-udemy-com-inter-bold-48-font-weight: 700;
  --www-udemy-com-inter-bold-48-font-size: 48px;
  --www-udemy-com-inter-bold-48-letter-spacing: -0.5px;
  --www-udemy-com-inter-bold-48-line-height: 55.20000076293945px;
  --www-udemy-com-inter-bold-48-font-style: normal;
  --www-udemy-com-inter-bold-32-font-family: "Inter", Helvetica;
  --www-udemy-com-inter-bold-32-font-weight: 700;
  --www-udemy-com-inter-bold-32-font-size: 32px;
  --www-udemy-com-inter-bold-32-letter-spacing: -0.1599999964237213px;
  --www-udemy-com-inter-bold-32-line-height: 40px;
  --www-udemy-com-inter-bold-32-font-style: normal;
  --www-udemy-com-inter-bold-19-font-family: "Inter", Helvetica;
  --www-udemy-com-inter-bold-19-font-weight: 700;
  --www-udemy-com-inter-bold-19-font-size: 19px;
  --www-udemy-com-inter-bold-19-letter-spacing: -0.0949999988079071px;
  --www-udemy-com-inter-bold-19-line-height: 25.649999618530273px;
  --www-udemy-com-inter-bold-19-font-style: normal;
}
